@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: auto;
}

#root {
  height: 100%;
}
.container-image {
  /* background-image: url("./background_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  /* max-height: 850px; */
  min-width: 400px;
}
.shadoww {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bgImage {
  background-image: url("./background_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slider-section {
  /* -webkit-box-flex: 1; */
  /* -ms-flex: 1; */
  /* display: -webkit-box; */
  padding: 45px 0 145px 0;
}

.justify-center-last {
  text-align: justify;
  text-align-last: center;
  hyphens: auto;
}

.bg-custom-gradient {
  background: linear-gradient(to bottom, #66baab 40%, rgb(241, 240, 240) 20%);
}
/* Style the left arrow */
.slick-prev {
  background-color: #4caf50 !important; /* Green background */
  border-radius: 50%; /* Make it circular */
  width: 40px;
  height: 40px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the right arrow */
.slick-next {
  background-color: #4caf50 !important; /* Green background */
  border-radius: 50%; /* Make it circular */
  width: 40px;
  height: 40px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the arrow symbols */
.slick-prev:before,
.slick-next:before {
  color: white; /* Make arrow symbols white */
  font-size: 20px; /* Increase arrow size */
}
